{% extends 'base.html' %}

{% block title %}Personel İçin İzin Ekle{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Personel İçin İzin Ekle</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" novalidate>
        {% csrf_token %}
        
        <!-- Personel Seçimi -->
        <div class="form-group">
            <label for="username">Personel Seçin:</label>
            <select name="username" class="form-control" id="username" required>
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Başlangıç Tarihi -->
        <div class="form-group">
            <label for="start_date">Başlangıç Tarihi:</label>
            <input type="date" name="start_date" class="form-control" required>
        </div>

        <!-- Bitiş Tarihi -->
        <div class="form-group">
            <label for="end_date">Bitiş Tarihi:</label>
            <input type="date" name="end_date" class="form-control" required>
        </div>

        <!-- İzin Nedeni -->
        <div class="form-group">
            <label for="reason">İzin Nedeni:</label>
            <textarea name="reason" class="form-control" rows="3" required></textarea>
        </div>

        <!-- Formu Gönder -->
        <button type="submit" class="btn btn-primary">İzin Ekle</button>
    </form>
</div>
{% endblock %}
