{% extends 'base.html' %}

{% block title %}Personel İçin İzin Ekle{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Personel İçin İzin Ekle</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Personel Seçin:</label>
            <select name="username" class="form-control" id="username" required>
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">İzin Ekle</button>
    </form>
</div>
{% endblock %}
